body {
    font-family: Arial, sans-serif;
}
html {
    overflow-y: scroll;
    /* Her zaman dikey kaydırma çubuğunu göster */
}
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}
/* .header, .footer {
    text-align: center;
} */

.card{
    border-radius: 0;
}
.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid black;
    margin: 20px auto;
}
.section-title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 10px;
}
.line {
    border-bottom: 2px solid black;
    margin-top: 10px;
    margin-bottom: 20px;
}
.horizontal-left-line{
    border-left: 2px solid black;
    margin-top: 10px;
    margin-bottom: 20px;
}
.contact-info, .social-icons, .contact-icons {
    text-align: center;
}
.social-icons a {
    text-decoration: none;
    color: black;
    padding-left: 5px;
}
.contact-icons i {
    font-size: 24px;
    margin: 0 10px;
    color: black;
}
.right-align {
    text-align: right;
}
ul.pagination {
    margin: 0 !important;
    padding: 0 !important;
    display: inline-block; /* Aynı hizada göstermek için */
    vertical-align: middle;
}

.pagination .page-link {
    border: none !important;
}

.pagination .page-item {
    display: inline-block;
    margin: 0;
}

h2 {
    margin: 0;
    vertical-align: middle;
}