body {
    font-family: Arial, sans-serif;
}
html {
    overflow-y: scroll;
    /* Her zaman dikey kaydırma çubuğunu göster */
}
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}
/* .header, .footer {
    text-align: center;
} */

.card{
    border-radius: 0;
}
.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid black;
    margin: 20px auto;
}
.section-title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 10px;
}
.line {
    border-bottom: 2px solid black;
    margin-top: 10px;
    margin-bottom: 20px;
}
.horizontal-left-line{
    border-left: 2px solid black;
    margin-top: 10px;
    margin-bottom: 20px;
}
.contact-info, .social-icons, .contact-icons {
    text-align: center;
}
.social-icons a {
    text-decoration: none;
    color: black;
    padding-left: 5px;
}
.contact-icons i {
    font-size: 24px;
    margin: 0 10px;
    color: black;
}
.right-align {
    text-align: right;
}


h2 {
    margin: 0;
    vertical-align: middle;
}

.pagination {
    display: inline-flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0;
}

.pagination .page-item {
    margin: 0;
    border-radius: 0;
}

ul.pagination {
    margin: 0 !important;
    padding: 0 !important;
    display: inline-block; /* Aynı hizada göstermek için */
    vertical-align: middle;
}


.pagination .page-item {
    display: inline-block;
    margin-top: 0 !important;
}

.pagination .page-item a.page-link {
    margin-top: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    color: #333;
    text-decoration: none;
    border-bottom: 2px solid black;
    border-radius: 0;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
}

.pagination .page-item a.page-link:hover {
    background-color: #e6e6e6;
    color: #000;
}

.pagination .page-item.active a.page-link {
    background-color: #333;
    color: #fff;
    border-color: #333;
}

.pagination .page-item.disabled a.page-link {
    color: #ccc;
    pointer-events: none;
    background-color: #f1f1f1;
}